body {
  font-family: sans-serif;
  background: #ffefa9;
  margin: 0;
  padding: 0;
  display: grid;
  cursor: default;
}

h2{
  color: black;
}

.App {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  padding: 12px 16px;
  margin-bottom: 10px;
  background: #9c9c9c;

  border-radius: 10px;
  cursor: grab;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all 0.2s ease;


}

.todo-item:active {
  cursor: grabbing;
  background-color: rgb(41, 96, 248);
  border-color: #66aaff;
  transform: scale(1.1);
}

.todo-item.drag-over {
  background-color:rgb(41, 96, 248);
}

.todo-item.dragging-active {
  cursor: grabbing !important;
  opacity: 1; /* Kein halbtransparentes Ghost-Ding */
}
